body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: serif;
    min-width: 800px;
    min-height: 600px;
}

html, body {
    height: 100%;
}

.title, .desc1, .pane, .desc2 {
    flex: 0 0 auto;
}

.panel {
    display: flex;
    flex-direction: row;
    margin-top: .75em;
    flex: 0 0 auto;
}

.desc1, .desc2 {
    flex-direction: column;
    flex: 0 0 auto;
    font-size: 10pt;
    margin-bottom: 0;
    margin-right: .5em;
    align-items: flex-start;
}

.desc2 {
    margin-top: 1em;
}

.desc2 > li:last-child {
    margin-top: 1.5em;
}

.key-container {
    margin-top: .5em;
}

.desc1 > li,
.desc2 > li {
    margin-bottom: .35em;
}

.langs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body > *:not(.title):not(.divider) {
    margin-left: .75em;
    margin-right: .75em;
}

.title {
    background-color: #000000;
    color: #ffffff;
    padding: .35em .5em;
    font-size: 10pt;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}

.title > div:first-child {
    flex: 1 1 auto;
    font-weight: bold;
    text-transform: uppercase;
}
.title > div:last-child {
    flex: 0 0 auto;
}

.pane {
    display: flex;
    flex-direction: row;
    height: 250px;
    flex: 1 1 auto;
}

#textInput {
    background-color: #efefef;
    outline: none;
    padding: .75em;
    overflow: auto;
    font-family: monospace;
    min-width: 200px;
    border-radius: .65em;
    line-height: 1.4em;
    font-size: 1em;
    flex: 1 1 auto;
    transition: background-color .25s ease-in;
}

.textPanel {
    flex: 1 1 auto;
}

.side-panel {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 400px;
    flex: 0 0 auto;
    overflow: auto;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

.pane > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.pane > div:nth-child(2),
.pane > div:nth-child(3),
.pane > div:nth-child(4) {
    flex: 0 0 auto;
    width: 350px;
    height: 250px;
}
.pane > div:nth-child(2) {
    width: 300px;
}

#codeInput {
    width: 290px;
    height: 250px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 .75em 0;
    padding: 0;
}

ul > li:nth-child(n+2) {
    padding: 0 0 0 .35em;
}

.key-container,
.key-container-normal,
.key-container-assoc {
    height: 1.8em;
    text-align: center;
    padding: 0 .65em 0 .65em;
    width: 354px;
    position: relative;
}
.key-container,
.key-container-normal {
    line-height: 1.8em;
    font-size: 1.1em;
    font-family: monospace;
    letter-spacing: .25em;
    border-radius: 1em;
}
.key-container {
    background-color: transparent;
    border: 1px solid #aaaaaa;
}
.key-container-normal {
    background-color: #efefef;
}

.key-container > .keyElement,
.key-container-normal > .keyElement {
    height: 1.7em;
    line-height: 1.7em;
    font-size: 1.1em;
    text-align: center;
    background-color: transparent;
    text-align: center;
    font-family: monospace;
    letter-spacing: .25em;
    width: 13px;
    position: absolute;
    float: left;
}

.key-container-assoc > .keyElement {
    height: 25px;
    background-color: transparent;
    width: 7px;
    margin-left: 6px;
    position: absolute;
    float: left;
    border-left: 1px solid #ccc;
}

.key-container > .keyElement {
    cursor: pointer;
    transition: left .5s ease-in;
}
.key-container-normal > .keyElement {
    cursor: auto;
    user-select: none;
}

.key-container > .keyElement.highlighted {
    color: #f07;
    font-weight: bold;
}
.keyElement[data-pos="1"] {
    left: 13px;
}
.keyElement[data-pos="2"] {
    left: 26px;
}
.keyElement[data-pos="3"] {
    left: 39px;
}
.keyElement[data-pos="4"] {
    left: 52px;
}
.keyElement[data-pos="5"] {
    left: 65px;
}
.keyElement[data-pos="6"] {
    left: 78px;
}
.keyElement[data-pos="7"] {
    left: 91px;
}
.keyElement[data-pos="8"] {
    left: 104px;
}
.keyElement[data-pos="9"] {
    left: 117px;
}
.keyElement[data-pos="10"] {
    left: 130px;
}
.keyElement[data-pos="11"] {
    left: 143px;
}
.keyElement[data-pos="12"] {
    left: 156px;
}
.keyElement[data-pos="13"] {
    left: 169px;
}
.keyElement[data-pos="14"] {
    left: 182px;
}
.keyElement[data-pos="15"] {
    left: 195px;
}
.keyElement[data-pos="16"] {
    left: 208px;
}
.keyElement[data-pos="17"] {
    left: 221px;
}
.keyElement[data-pos="18"] {
    left: 234px;
}
.keyElement[data-pos="19"] {
    left: 247px;
}
.keyElement[data-pos="20"] {
    left: 260px;
}
.keyElement[data-pos="21"] {
    left: 273px;
}
.keyElement[data-pos="22"] {
    left: 286px;
}
.keyElement[data-pos="23"] {
    left: 299px;
}
.keyElement[data-pos="24"] {
    left: 312px;
}
.keyElement[data-pos="25"] {
    left: 325px;
}
.keyElement[data-pos="26"] {
    left: 338px;
}

.key {
    height: 1.8em;
    line-height: 1.8em;
    font-size: 1.1em;
    width: 350px;
    text-align: center;
    padding: 0 .65em 0 .65em;
    font-family: monospace;
    outline: none;
    letter-spacing: .25em;
    position: absolute;
    opacity: 0;
    color: #999999;
    transition: opacity .25s ease-in;
    margin-top: -5px;
}

#textOutput {
    background-color: #efefef;
    padding: .75em;
    overflow: auto;
    font-family: monospace;
    border-radius: .65em;
    flex: 1 1 auto;
    margin-bottom: .75em;
    margin-left: 10px; /* Cater for scrollbars in left pane */
}

.divider {
    flex: 0 0 auto;
    margin: .75em 0 .25em 0;
    height: 1px;
    background-color: #cccccc;
}

.emph {
    font-weight: bold;
}

#buttonDecrypt {
    margin-right: 1em;
}

#buttonDual {
    display: none;
}
